

body {
  background-color: #000000;
  color: red;
  display:flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}

header{
  background-color: green;
  color: black;
  text-decoration: underline ;
}

nav{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

image{
  object-position: center;
}

li{
  margin: 1rem;
  list-style-type: none;
  background-color: rgb(115, 115, 115);
}

footer{
  background-color: green;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}